body{
    font-family: 'Lato', sans-serif;
    direction: ltr;
    color: #363636;
}
.navbar.bg-light{
    background:rgba(0,0,0,0) !important;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
    font-size: 18px;
    cursor: pointer;
    padding-right:30px;
    padding-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.navActive{
    color:white;
    text-decoration: underline;
}
.mainSection{
    color: white;
    width: 100%;
    height: 980px;
    position: relative;
    
}
.mainSection h1{
    font-size: 72px;
    font-weight: bold;
}
.mainSection span{
    display: block;
    font-size: 18px;
}
.mainSection a.btn-primary{
    background: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 55px;
    color: #e42837;
    font-size: 18px;
    margin-top: 100px;
}
.mainSection a.btn-primary:hover{
    background: transparent;
    color: white;
}
.mainSection .container,
.mainSection .row{
    height: 100%;
}
.absoluteBg{
    width: 100%;
    height: 980px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    -webkit-clip-path: polygon( 100% 0, 100% 75%, 0 90%, 0 0%);
    clip-path: polygon(100% 0, 100% 75%, 0 90%, 0 0%);
}
.section h2{
    font-size: 60px;
    font-weight: bold;
}
.featuresDesc h2 .red{
    color: #e01c3d;
}
.featuresDesc p{
    font-size: 18px;
    color: #808080;
}
.navbar.scrollNav{
    background: rgba(0,0,0,0.4) !important;
}
.section.testmonials {
    padding: 160px 0px;
}
.section.testmonials h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 135px;
}
.section h2 span {
    color: #eb3f2d;
}
.section.boardered{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 120px;
}
.speechBubble{
    border:1px solid #e0e0e0;
    width: 100%;
    height: auto;
    max-height: 210px;
    padding: 30px;
    position: relative;
    transition-duration: 0.4s;
}
.speechBubble p {
    color: #808080;
    font-style: italic;
    height: auto;
    max-height: 115px;
    overflow: hidden;
}
.speechBubble span.red{
    color: #eb3f2d;
    font-weight: bold;

}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #e0e0e0;
    bottom: -8px;
    left: 20px;
}
.innerTriangle{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ffffff;
    bottom: 1px;
    left: -7px;
}
.testmonialDesc{
    width:100%;
    height: auto;
    margin-top:20px;
    transition-duration: 0.4s;
}
.testmonialImg{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.testmonialImg img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.testmonialText{
    padding-left: 15px;
}
.testmonialText span{
    display: block;
    font-size: 18px;
}
.testmonialText span.position{
    color: #667386;
    font-size: 16px;
}
.testmonialItem:hover > .speechBubble{
    transition-duration: 0.4s;
    margin-top:-20px;
    border-color: transparent;
    -webkit-box-shadow: 0px 10px 19px 5px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 10px 19px 5px rgba(0,0,0,0.21);
    box-shadow: 0px 10px 19px 5px rgba(0,0,0,0.21);
}
.testmonialItem:hover > .testmonialDesc{
    margin-top:40px;
    transition-duration: 0.4s;
}


.iphonSection{
	position: relative;
	background-image: url("../img/bg1.png");
	height: 516px;
	width: 100%;
}

.iphon img{
	position: absolute;
	margin-top: -85px;
	padding-bottom: 90px;
	width: 350px;


}

.parg h3, .parg p, .parg img{
	color: white;
}

.parg h3{
	font-size: 24px;
}

.parg p{
	font-size: 16px;
	opacity: .5;
	margin-top: 5px;
}


.parg{
	margin-top: 90px;
}

.parg.two{
	margin-top:30px;
}
.hide{
	display: none;
}
.back {
    height: 750px;
}
.containt h2,.containt p{
	text-align: center;
	
}
.containt p{
	margin-bottom: 50px;}

.containt h2{
	font-weight: bold;
}
input[type="text"] {
    width: 50%;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background: lightgrey;
    padding-left: 25px;
	position: relative;
}

.btnn{
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    position: absolute;
    margin-left: -116px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    color: white;
	font-size: 18px;
    padding: 0 20px;
	    cursor: pointer;

}

.subscribe{
	text-align: center;
	padding-bottom: 100px;
}

.lastSection{
	border-bottom: 1px solid rgba(57,52,52,.2500);
	width: 100%;
    height: 460px;
	padding-top: 130px;
}
.downloadSection {
    padding-top: 50px;
	padding-bottom: 50px;
    text-align: center;
	border-bottom: 1px solid rgba(57,52,52,.2500);

}

.footer{
	width: 100%;
}

.nav-item a{
	color: #363636;
}
.nav-item a:hover{
	color: #555553;
}
.nav-link.disabled {
    color: #363636;
}

input[type="search"] {
    width: 100%;
    padding-left: 15px;
}


/*Media queries*/
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
@media (max-width :992px){
    .featuresImg{
        text-align: center;
    }
    .mainSection h1{
        font-size: 50px;
    }
    .featuresDesc{
        text-align: center;
    }
	
	.iphon img{
		margin-top: 90px;
		width: 100%;
		padding-left: 0px;

	}
	.parg p,.parg.two p{
		font-size: 14px;
	}
	.parg h3,.parg.two h3{
		font-size: 18px;
	}
	.hide{
	display:inline;
     }
	
	.back {
    height: 600px;
      }
	input[type="text"] {
		width: 70%;}
	
}
